streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
python-dotenv
pandas
openpyxl
pypdf
tiktoken
networkx